*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-size: 1.5rem;
}

p{
    font-size: 1.2rem;
}

nav{
    background-color: bisque;
}

.nav-container{
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-nav ul, .right-nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.left-nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(230, 181, 118);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
}

