*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-size: 1.2rem;
}

h1{
    font-size: 2rem;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 2000px;
    margin: 0 auto;
}

main{
    background-color: aliceblue;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container{
    width: 300px;
    margin: auto;
}

.login-container h1{
    text-align: center;
    color: #333;
}

.login-container p{
    text-align: center;
    margin-bottom: 2rem;
    color: #666;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}

.input-username, .input-password{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f2f5;
    border-radius: 10px;
    font-size: 1rem;
}

.input-username label,.input-password label{
    font-size: 1.2rem;
}

.input-username input,.input-password input{
    width: 100%;
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
}


.input-username input:focus,.input-password input:focus{
    outline: none;
}

.submit-button{
    width: 100%;
    pad: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.submit-button button{
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    background-color: beige;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 1px;
    animation: ease-in-out 0.3s;
}

.submit-button button:hover{
    background-color: #e0d4b8;
    cursor: pointer;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}